Tusgai Node-red.json
[{"id":"f9ce7c235f1b4b61","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62ce4d132c187335","type":"ui_slider","z":"f9ce7c235f1b4b61","name":"","label":"Speed","tooltip":"","group":"78904333.f23c5c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"20","max":"100","step":"5","className":"","x":430,"y":120,"wires":[["de4d99b1a786a8e8","de907afc7ddff270"]]},{"id":"de907afc7ddff270","type":"debug","z":"f9ce7c235f1b4b61","name":"Speed","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":40,"wires":[]},{"id":"6df508f00d25a679","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"313690a.3efbd7","order":9,"width":2,"height":2,"passthru":false,"label":"Reverse","tooltip":"reverse","color":"","bgcolor":"","className":"","icon":"","payload":"reverse","payloadType":"str","topic":"topic","topicType":"msg","x":440,"y":320,"wires":[["f865ee9b329022c0"]]},{"id":"566cb7fe34d742ac","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"313690a.3efbd7","order":2,"width":2,"height":2,"passthru":false,"label":"Forward","tooltip":"forward","color":"","bgcolor":"","className":"","icon":"forward","payload":"forward","payloadType":"str","topic":"topic","topicType":"msg","x":440,"y":260,"wires":[["f865ee9b329022c0"]]},{"id":"63017d9adba5381f","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"313690a.3efbd7","order":5,"width":2,"height":2,"passthru":false,"label":"Left","tooltip":"left","color":"","bgcolor":"","className":"","icon":"","payload":"left","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":380,"wires":[["f865ee9b329022c0"]]},{"id":"de4d99b1a786a8e8","type":"ui_gauge","z":"f9ce7c235f1b4b61","name":"","group":"78904333.f23c5c","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","diff":false,"className":"","x":630,"y":120,"wires":[]},{"id":"d8a4694da16438aa","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"313690a.3efbd7","order":7,"width":2,"height":2,"passthru":false,"label":"Right","tooltip":"right","color":"","bgcolor":"","className":"","icon":"","payload":"right","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":440,"wires":[["f865ee9b329022c0"]]},{"id":"0e1a1e570c22a8aa","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"313690a.3efbd7","order":6,"width":2,"height":2,"passthru":false,"label":"Stop","tooltip":"stop","color":"","bgcolor":"","className":"","icon":"stop","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":500,"wires":[["f865ee9b329022c0"]]},{"id":"48a94f4c32da85d7","type":"remote-access","z":"f9ce7c235f1b4b61","confignode":"e8b703af.3ebec","name":"","verbose":true,"x":800,"y":120,"wires":[[],[]]},{"id":"a49b5a125c6ac18a","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"e21cace8.ad051","order":1,"width":0,"height":0,"passthru":false,"label":"Auto Start","tooltip":"start","color":"","bgcolor":"","className":"","icon":"","payload":"sta","payloadType":"str","topic":"topic","topicType":"msg","x":580,"y":560,"wires":[["f865ee9b329022c0"]]},{"id":"d17b1979391fca11","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"e21cace8.ad051","order":2,"width":0,"height":0,"passthru":false,"label":"Auto Stop","tooltip":"stop","color":"","bgcolor":"","className":"","icon":"stop","payload":"sto","payloadType":"str","topic":"topic","topicType":"msg","x":580,"y":600,"wires":[["f865ee9b329022c0"]]},{"id":"d2fad9365d8182b3","type":"ui_template","z":"f9ce7c235f1b4b61","group":"f2a42c521cd4c5e6","name":"Node-Red Dashboard Custom CSS","order":1,"width":0,"height":0,"format":"<style>\n\n    /*Main background*/\n    body {\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 50%,\n            #b800e9 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":1080,"y":120,"wires":[[]]},{"id":"f865ee9b329022c0","type":"function","z":"f9ce7c235f1b4b61","name":"Forward Reverse","func":"var input=msg.payload\nvar output={payload: ' ', topic: \"topic\"};\n\nif(input==\"forward\"){\n    output.payload='run';\n} else if (input==\"reverse\"){\n    output.payload='back';\n} else if (input==\"stop\"){\n    output.payload='stop';\n} else if(input==\"left\"){\n    output.payload='left';\n} else if (input==\"right\"){\n    output.payload='right';\n} else if (input==\"budah\"){\n    output.payload='bud';\n} else if (input==\"sta\"){\n    output.payload='sta';\n} else if (input==\"sto\"){\n    output.payload='sto';\n}\n\nreturn [output];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":280,"wires":[["084d1e51322d66f5","5cf3cddca75266b3"]]},{"id":"0ab6500a115422e3","type":"ui_button","z":"f9ce7c235f1b4b61","name":"","group":"313690a.3efbd7","order":1,"width":2,"height":2,"passthru":false,"label":"Budah","tooltip":"budah","color":"","bgcolor":"","className":"","icon":"","payload":"budah","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":560,"wires":[["f865ee9b329022c0"]]},{"id":"5cf3cddca75266b3","type":"debug","z":"f9ce7c235f1b4b61","name":"move","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":380,"wires":[]},{"id":"084d1e51322d66f5","type":"serial out","z":"f9ce7c235f1b4b61","name":"","serial":"77121fc1db22cb80","x":1010,"y":260,"wires":[]},{"id":"78904333.f23c5c","type":"ui_group","name":"Speed control","tab":"26f958e6.0ad608","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"313690a.3efbd7","type":"ui_group","name":"Direction control","tab":"26f958e6.0ad608","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e8b703af.3ebec","type":"remote-config","name":"Hana Budagch","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"iwju09oo6kvrnk5fwyiy02hfzdv9fsuezf74drrumoobw368tc6y6p6xat1p4gb9","server":"nodered04.remote-red.com","region":"de"},{"id":"e21cace8.ad051","type":"ui_group","name":"AUTO MODE","tab":"26f958e6.0ad608","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f2a42c521cd4c5e6","type":"ui_group","name":"Demo","tab":"799aaeac39c469d7","order":1,"disp":true,"width":"6","collapse":false},{"id":"77121fc1db22cb80","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"0","dtr":"high","rts":"high","cts":"high","dsr":"high","newline":"","bin":"false","out":"count","addchar":"\\n","responsetimeout":"0.001"},{"id":"26f958e6.0ad608","type":"ui_tab","name":"Hana Budagch ROBOT","icon":"dashboard","disabled":false,"hidden":false},{"id":"799aaeac39c469d7","type":"ui_tab","name":"Demo","icon":"dashboard","disabled":false,"hidden":false}]